* {
    /*comando reset do css */
    margin: 0;
    padding: 0px;


}

/*header*/

.top-bar {
    display: flex;
    align-items: center;
    background-color: #022F3D;


}

.top-bar form {
    position: relative;
    flex: 400px;
    margin-right: 20px;
}

.home {
    width: 100px;
    height: 100px;

}

.home:hover {
    scale: 1.1;
}


.pesquisar {
    display: flex;
    flex: 1;
    max-width: 100vw;
    min-width: 25vw;
}

.pesquisar input {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
}

#lupa {
    width: 0vmin;
    position: absolute;
    top: 50%;
    right: 1vmin;
    transform: translateY(-50%);
}

.suporte {
    background: linear-gradient(blue, rgb(4, 0, 255), rgb(0, 47, 255));
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 10px;

}


.icons a {
    padding: 30px;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

#carrinho:hover {
    scale: 1.1;
}

.suporte:hover {
    scale: 1.1;

}


/*banner*/

.banner {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=60');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 90%;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}


.banner h1 {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
}

/*titulo*/
#titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;

}



/*conteiners*/

.destaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;

}

.destaques p {
    color: white;
    font-size: 20px;
    margin-top: 4em;
    font-family: Arial, Helvetica, sans-serif;

}

.destaques a {
    text-decoration: none;
    width: 250px;
    height: 100px;
    object-fit: contain;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grecia {
    background-image: url('https://images.squarespace-cdn.com/content/v1/55b7e44de4b0af4724ac5dd6/1648050127805-AR2YZP95C9IV0UC7MHK8/grecia-onde-ficar.jpg?format=2500w');
    background-size: cover;
    background-position: center;
}

.acapulco {
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res70/228000/228069-Guerrero.jpg');
    background-size: cover;
    background-position: center;
}

.egito {
    background-image: url('https://vidanoegito.com/wp-content/uploads/2019/11/esfinge.jpg?w=1024');
    background-size: cover;
    background-position: center;
}

.russia {
    background-image: url('https://imagens.ebc.com.br/mAIQzKJCH_9ZC_G2Uk6uQikD8fE=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2025/05/09/54506396682_e86f68eb83_o.jpg?itok=Gg_HuKBj');
    background-size: cover;
    background-position: center;
}

.destaques a:hover {
    scale: 1.1;
    transition: all 0.3s ease;
}

/*footer*/
footer {
    background-color: #022F3D;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*responsividade para dispositivos moveis*/

@media (max-width: 900px) {
    .top-bar {
        display: flex;
        background-color: #022F3D;
        flex-wrap: wrap;
    }

    .pesquisar {
        display: flex;
        flex: 1 1 50%;
        width: 100vw;
        
    }


    .suporte {

        width: 30vw;
        text-align: center;
    }

    .suporte:hover {
        scale: 1.05;

    }


}